/* CountersComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.counters {
  margin: 0 0 2em 0;
  padding: 0;
}
.counters div {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  border-radius: 4px;
  line-height: 25px;
  display: inline-block;
}
.counters div.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.counters div:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.counters .text {
  position: relative;
  top: -3px;
}

.counters .badgeright {
  display: inline-block;
  font-size: small;
  color: white;
  width:30px;
  background-color: #607D8B;
  position: relative;
  text-align: center;
  left: -1px;
  height: 25px;
  margin-right: 5px;
  border-radius: 0 4px 4px 0;
}


#fullContent {
  margin: auto;
  display: table;
}
 
#fullContent > div {
  display: table-cell;
}
 
#wrapper {
  margin: auto;
  width: 170px;
}
 
#container-img-bg-right {
  width: 30px;
  height: 100%;
  text-align:right;
  background-color: #607D8B;
  border-radius: 0 4px 4px 0;
  color: white;
  padding-right : 5px;
}
